<!DOCTYPE html>
<html style="height: 100dvh;">

<head>
    <meta charset="utf-8" />
    <title>olsync</title>
</head>

<body style="height: 100%;">
    <div id="root" style="height: auto;"></div>
</body>

</html>